<h1>Edited Text</h1>

<%= form_for @option, url: admin_tenant_ui_element_update_path(tenant_id: @tenant, option_id: @option) do |form| %>
  <div class="card-title">
    <p><strong>Template Name:</strong> <%= form.object.key %></p>
  </div>
  <div class="card">
    <div class="card-body">
      <%= rich_text_area_tag 'option[default]', (form.object.value || form.object.default).html_safe %>
    </div>
  </div>
  <div class="card-body">
    <div class="actions">
      <%= form.submit 'Update', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("trix-file-accept", function(event) {
    event.preventDefault();
  });
</script>

