<ng-container *ngIf="formField">
<ng-container [formGroup]="parentFormControl">
<label class="{{labelClass}} dollar-form-field" for="{{controlId}}" id="{{controlId}}-text-label">{{labelText}}</label>
<div class="{{controlClass}}">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <input type="text" style="text-align: right" maxlength="11" mask="comma_separator.0" class="form-control"
      id="{{controlId}}" [formControlName]="controlName" required
      [attr.disabled]="isDisabled"
      attr.aria-labelledby="{{controlId}}-text-label"
      [attr.aria-describedby]="ariaDescribedBy"
      />
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <div
    *ngIf="formField.invalid && (formField.dirty || formField.touched)"
    class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
    <div *ngIf="formField.invalid">
      {{requiredErrorText}}
    </div>
  </div>
</div>
</ng-container>
</ng-container>