<ng-container *ngIf="formField">
  <ng-container [formGroup]="parentFormControl">
    <div class="{{controlClass}}">
        <label class="{{labelClass}} dropdown" for="{{controlId}}">{{labelText}}</label>
      <div ngbDropdown class="{{dropdownClass}}">
        <select (change)="setEffectiveEndOptions($event.target.value)" class="form-control form-control-sm" id="{{controlId}}" [formControlName]="controlName" ngModel required>
          <option value='' disabled selected hidden>Choose</option>

        </select>
        <div *ngIf="formField.invalid && (formField.dirty || formField.touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
          <div *ngIf="formField.invalid">
            {{requiredErrorField}}
          </div>
        </div>
      </div>
      <ng-template #popContentStartMonth>
        <div class="tooltip-italic" [innerHTML]="popContent"></div>
      </ng-template>
      <sup [ngbPopover]="popContentStartMonth">
        <i class="fas fa-question-circle"></i>
      </sup>
    </div>
  </ng-container>
</ng-container>