<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="container hra_results border">
        <div class="card-body">
          <p>
              The HRA tool will ask you a few simple questions. To get started, you will need the HRAnotice from your employer and information to help you estimate your expectedhousehold income for 2020.
          </p>
        </div>
        <div class="card" style="align-items: center;">
          <div class="col-6">
            <div class="card border rounded">
              <div class="card-header">
                1. Share a few facts about you
              </div>
              <div class="card-body">
                <p>Your date of birth, your place of residence, andyour expected household income.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="align-items: center;">
          <div class="col-6">
            <div class="card border rounded">
              <div class="card-header">
                2. Share information about your HRA
              </div>
              <div class="card-body">
                <p>Information about the HRA you've been offeredfrom the notice your employer provided: HRAtype, the months it covers, and the amount youremployer is offering to contribute.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="align-items: center;">
          <div class="col-6">
            <div class="card border rounded">
              <div class="card-header">
                3. Learn about your options and next steps
              </div>
              <div class="card-body">
                <p>Get information about how the HRA affects your options and what to do next to get the best deal and avoid pitfalls.</p>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn btn-md button-style" routerLink="/starter">Continue</a>
      </div>
    </div>
  </div>
</div>