.main-content {
  margin-top: 80px;
  margin-bottom: 75px;
}

.card-border {
	border: 1px solid grey;
}

.result-box {
	font-weight:bold;
	background-color:#cae7fb;
	text-align: center;
}

.card-color {
	font-size: 18px;
	text-align: center;
  color: white;
	background-color: #3498DB;
	font-family: verdana, arial, helvetica, sans-serif;
}

.result-overflow {
  overflow: auto
}