.footer-uic {
  font-size: 18px;
  background-color: var(--primary-color);
  padding: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  span {
    color: var(--inverted-text-color);
  }
}
