.footer-uic {
  font-size: 18px;
  color: #bebebe;
  background-color: var(--primary-color);
  padding: 08px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  span {
    color: var(--inverted-text-color);
  }
}

.footer-by {
  align-self: center;
  font-size: 14px;
}
