<div class="header-uic">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="hra_results border">
          <div class="row">
            <div class="col-md-4 text-center header-logo">
              <img src="./../../assets/images/logo.jpg" alt="exchange logo" height="75" />
            </div>
            <div class="col-md-5 text-center header-title">
              <h1>HRA Tool</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
