.header-uic {
  color: #003260;
  background-color: #003260;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.header-logo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
}

.long-header-title {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 21px;
}
