<div [ngStyle]="{'background-color': primaryColorCode}" class="header-uic">
  <div class="row" style="vertical-align: middle">
    <div class="col-12">
      <div class="card">
        <div class="container hra_results">
          <div class="row">
            <div class="col-5 header-logo">
              <a href={{tenant_url}}><img class="img-responsive" src="data:image/jpeg;base64,{{tenant_logo_file}}" alt="exchange logo" style="height: 65px;"/></a>
            </div>
            <div class="col-6 header-title">
              <a>HRA Tool</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
