.footer-uic {
  font-size: 18px;
  color: #BEBEBE;
  background-color:#003260;
  padding: 08px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  a { color: white; }
}

.header-uic {
  color: #003260;
  background-color:#003260;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.footer-by {
  align-self: center;
  font-size: 14px;
}

.customer-service {
  float: left;
}

.benefit-year { 
  float: right;
}

.header-logo, .header-title, .long-header-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-title {
  font-size: 40px;
}

.long-header-title{
  font-size: 20px;
}