.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: white;
  color: #3e5569;
  padding: 0 24px;
  z-index: 1001;
  font-size: 18px;
  text-decoration: underline;
}

.skip-link:focus {
  left: 3px;
  line-height: 64px;
  top: 3px;
  z-index: 10000;
  outline: 1px solid #3e5569;
}
