.main-content {
  margin-top: 80px;
  margin-bottom: 75px;
  p {
    font-size: 18px;
  }
  label {
    font-weight: 400;
    font-size: 16px;
  }
}

.step-desription{
  font-size: 26px;
}

.tooltip-italic {
  text-align: center;
  font-style: italic;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

#household_frequency, #hra_frequency, #hra_type{
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  display: inline-grid;
}

.hra-type-group label {
  font-size: 10px;
  height: 40px;
}

btn.active  {
  background-color: #009efb;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}