<div class="main-content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="container hra_results">
            <div *ngIf="showErrors">
            <ngb-alert type="danger" (close)="closeAlert()" [ngStyle]="{'background-color': dangerColorCode}">
              <p class="mb-0" *ngFor="let error of errors">
                {{ error }}
              </p>
            </ngb-alert>
            </div>
            <form [formGroup]="hraForm" (ngSubmit)="onSubmit()">
              <div class="tab" [hidden]="!(currentTab === 0)">
                <h1>About You</h1>
                <hr>
                <div class="d-inline-flex ie-flex">
                  <div class="col-md-2">
                    <img src="../../assets/images/about_you.png" alt="about you picture" height="100"/>
                  </div>
                  <div class="col-md-12">
                    <p class="step-desription">
                      <strong>
                        Enter the following information for the family member
                        who is offered the HRA.
                        <ng-template #popContentFamily>
                          <div class="tooltip-italic">
                            This is the family member whose employer is offering the HRA.
                          </div>
                        </ng-template>
                        <sup [ngbPopover]="popContentFamily">
                          <i class="fas fa-question-circle "></i>
                        </sup>
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <br/>
                  <p>
                    <strong>
                      Place of Residence
                      <ng-template #popContentResidence>
                        <div class="tooltip-italic">Enter the family member’s place of residence, even if the employer is located somewhere else.
                        </div>
                      </ng-template>
                      <sup [ngbPopover]="popContentResidence">
                        <i class="fas fa-question-circle"></i>
                      </sup>
                    </strong>
                  </p>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="state">
                      State
                    </label>
                    <div class="col-sm-4 state-align">
                      <input type="hidden" formControlName="state" id="state">
                      {{ this.hraForm.value.state }}
                      <ng-template #popContentState>
                        <div class="tooltip-italic">
                          If you are not a resident of this state, please visit <a href="https://www.healthcare.gov/get-coverage/" target="_blank">https://www.healthcare.gov/get-coverage/</a> to find the Marketplace in your state.
                        </div>
                      </ng-template>
                      <sup [ngbPopover]="popContentState" >
                        <i class="fas fa-question-circle"></i>
                      </sup>
                      <div *ngIf="hraForm.controls['state'].invalid && (hraForm.controls['state'].dirty || hraForm.controls['state'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['state'].errors.required">
                          State is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showZipcode">
                  <div class="form-group">
                    <div class="input-group">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="zipcode">Zip Code</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" (keypress)="numberOnly($event)" formControlName="zipcode" id="zipcode" pattern="[0-9]{5}" minlength="5" maxlength="5" (blur)="getCountyInfo()"/>
                        <div *ngIf="hraForm.controls['zipcode'].invalid && (hraForm.controls['zipcode'].dirty || hraForm.controls['zipcode'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                          <div *ngIf="hraForm.controls['zipcode'].errors.required">
                            Zipcode is required.
                          </div>
                          <div *ngIf="hraForm.controls['zipcode'].errors.minlength">
                            Zipcode should be 5 digits.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showCounty">
                  <div class="form-group">
                    <div class="input-group">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="county">County</label>
                      <div class="col-sm-4">
                        <select class="form-control form-control-sm" id="county" formControlName="county" [attr.disabled]="isCountyDisabled ? '' : null" required>
                          <option value='' disabled selected hidden>{{countyPlaceHolder}}</option>
                          <option *ngFor="let option of countyOptions" [ngValue]="option">
                            {{option}}
                          </option>
                        </select>
                        <div *ngIf="hraForm.controls['county'].invalid && (hraForm.controls['county'].dirty || hraForm.controls['county'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                          <div *ngIf="hraForm.controls['county'].errors.required">
                            County is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showDob" >
                  <div class="form-group">
                    <p>
                      <strong>Date of Birth</strong>
                    </p>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="dob">MM/DD/YYYY</label>
                      <div class="col-sm-4">
                        <div class="input-group">
                          <input class="form-control"
                            placeholder="mm/dd/yyyy"
                            name="dp"
                            ngbDatepicker #d="ngbDatepicker"
                            [minDate]="{year: 1900, month: 1, day: 1}"
                            [maxDate]="today"
                            formControlName="dob"
                            (input)="checkDateInput($event)"
                            validateDate validateDateFormat required>
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                              <i class="fas fa-calendar-alt"></i>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="hraForm.controls['dob'].invalid && (hraForm.controls['dob'].dirty || hraForm.controls['dob'].touched)" class="input-group alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                          <div *ngIf="hraForm.controls['dob'].errors.required">
                            Date of Birth is required.
                          </div>
                          <div *ngIf="hraForm.controls['dob'].errors.invalidDate">
                            DOB must be between 01/01/1900 to Today.
                          </div>
                          <div *ngIf="hraForm.controls['dob'].errors.invalidDateFormat">
                            Please Enter Valid Date Format(MM/DD/YYYY)
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <p>
                    <strong>
                      Expected 2020 Household Income
                      <ng-template #popContentHouseholdIncome>
                        <div class="tooltip-italic">This is your household income before taxes. For most people, annual household income is the same as federal adjusted gross income that you enter on your federal income tax return (Form 1040).Specifically, household income is equal to adjusted gross income plus the following amounts: Social Security benefits that are excluded from gross income, interest from tax-exempt bonds, any foreign-source income excluded from gross income under section 911 of Internal Revenue Code (rare), and the income of dependents who are required to file a separate income tax return (rare).
                        </div>
                      </ng-template>
                      <sup [ngbPopover]="popContentHouseholdIncome">
                        <i class="fas fa-question-circle"></i>
                      </sup>
                    </strong>
                  </p>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="household_frequency">Frequency (choose one) </label>
                      <div class="col-sm-4">
                        <div class="btn-group" data-toggle="buttons">
                          <span [ngClass]="(selectedHouseholdFrequency=='monthly')?'btn btn-outline-info active':'btn btn-outline-info'">
                              <input [ngStyle]="{'background-color': primaryColorCode}" type="radio" class="form-control form-control-sm" id="household_frequency"
                              formControlName="household_frequency" value="monthly" ngModel required (click)="onHouseholdChange('monthly')"/> Monthly
                          </span>
                          <span [ngClass]="(selectedHouseholdFrequency=='annually')?'btn btn-outline-info active':'btn btn-outline-info'">
                              <input [ngStyle]="{'background-color': primaryColorCode}" type="radio" class="form-control form-control-sm" id="household_frequency"
                              formControlName="household_frequency" value="annually" ngModel required (click)="onHouseholdChange('annually')"/> Annual
                          </span>
                        </div>
                        <div *ngIf="hraForm.controls['household_frequency'].invalid && (hraForm.controls['household_frequency'].dirty || hraForm.controls['household_frequency'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                          <div *ngIf="hraForm.controls['household_frequency'].errors.required">
                            Frequency is required.
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="household_amount">Amount</label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="text" style="text-align: right" maxlength="11" mask="comma_separator.0" class="form-control" id="household_amount" formControlName="household_amount" ngModel required [attr.disabled]="(hraForm.controls['household_frequency'].value =='') ? '' : null " />
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                      <div *ngIf="hraForm.controls['household_amount'].invalid && (hraForm.controls['household_amount'].dirty || hraForm.controls['household_amount'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['household_amount'].errors.required">
                          Amount is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab" [hidden]="!(currentTab === 1)">
                <h1>About the HRA You've Been Offered</h1>
                <hr/>
                <div class="d-inline-flex ie-flex">
                  <div>
                    <img src="../../assets/images/about_hra.png" alt="Profile picture" height="100"/>
                  </div>
                  <div class="col-md-11">
                    <p>
                      <strong>
                        Enter the following information about the HRA that you have been offered.
                      </strong>
                      All answers can be found in the HRA notice provided by the employer.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <br/>
                  <div class="form-group">
                    <p>
                      <strong>Type</strong>
                    </p>
                  </div>
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="hra_type">Choose One</label>
                    <div class="col-sm-8">
                      <div class="btn-group hra-type-group" data-toggle="buttons">
                        <span [ngClass]="(selectedHraType=='ichra')?'btn btn-outline-info active':'btn btn-outline-info'">
                            <input [ngStyle]="{'background-color': primaryColorCode}" type="radio" class="form-control form-control-sm" id="hra_type"
                            formControlName="hra_type" value="ichra" ngModel required (click)="onHraTypeChange('ichra')"/> Individual Coverage HRA
                        </span>
                        <span [ngClass]="(selectedHraType=='qsehra')?'btn btn-outline-info active':'btn btn-outline-info'">
                            <input [ngStyle]="{'background-color': primaryColorCode}" type="radio" class="form-control form-control-sm" id="hra_type"
                            formControlName="hra_type" value="qsehra" ngModel required (click)="onHraTypeChange('qsehra')"/> Qualified Small Employer HRA (QSEHRA)
                        </span>
                        <ng-template #popHraType>
                          <div class="tooltip-italic">
                            The type of HRA will appear prominently on the notice from the employer.
                          </div>
                        </ng-template>
                        <sup [ngbPopover]="popHraType" >
                          <i class="fas fa-question-circle"></i>
                        </sup>
                      </div>
                      <div *ngIf="hraForm.controls['hra_type'].invalid && (hraForm.controls['hra_type'].dirty || hraForm.controls['hra_type'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['hra_type'].errors.required">
                          Type of HRA is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <p>
                    <strong>Effective Period</strong>
                  </p>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="start_month">
                      Start Month
                    </label>
                    <div ngbDropdown class="col-sm-4">
                      <select (change)="setEffectiveEndOptions($event.target.value)" class="form-control form-control-sm" id="start_month" formControlName="start_month" ngModel required>
                        <option value='' disabled selected hidden>Choose</option>
                        <option ngbDropdownToggle *ngFor="let option of effectiveStartOptions" [value]="option">{{option | date: 'MMMM y'}}</option>
                      </select>
                      <div *ngIf="hraForm.controls['start_month'].invalid && (hraForm.controls['start_month'].dirty || hraForm.controls['start_month'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['start_month'].errors.required">
                          Start Month is required.
                        </div>
                      </div>
                    </div>
                    <ng-template #popContentStartMonth>
                      <div class="tooltip-italic">This is the first month the HRA is available to you.
                      </div>
                    </ng-template>
                    <sup [ngbPopover]="popContentStartMonth">
                      <i class="fas fa-question-circle"></i>
                    </sup>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="end_month">
                      End Month
                    </label>
                    <div class="col-sm-4">
                      <select class="form-control form-control-sm" id="end_month" formControlName="end_month" ngModel required>
                        <option value='' disabled selected hidden>Choose</option>
                        <option *ngFor="let option of effectiveEndOptions" [value]="option">{{option | date: 'MMMM y'}}</option>
                      </select>
                      <div *ngIf="hraForm.controls['end_month'].invalid && (hraForm.controls['end_month'].dirty || hraForm.controls['end_month'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['end_month'].errors.required">
                          End Month is required.
                        </div>
                      </div>
                    </div>
                    <ng-template #popContentEndMonth>
                      <div class="tooltip-italic">This is the last month of the HRA plan year.</div>
                    </ng-template>
                    <sup [ngbPopover]="popContentEndMonth">
                      <i class="fas fa-question-circle"></i>
                    </sup>
                  </div>
                </div>
                <div class="form-group">
                  <p>
                    <strong>
                      Maximum Amount for Employee-Only Health Insurance
                      <ng-template #popContentHraAmount>
                        <div class="tooltip-italic">This is the amount the employer has offered to contribute to the HRA if you purchase health insurance for only the employee (not including other family members). Some employers provide one amount if only the employee enrolls in coverage (sometimes referred to as “self-only” coverage), and a larger amount if the employee plus other family members enroll in coverage. Enter the amount of the HRA if only the employee enrolls, even if you plan to enroll in family coverage.</div>
                      </ng-template>
                      <sup [ngbPopover]="popContentHraAmount">
                        <i class="fas fa-question-circle"></i>
                      </sup>
                    </strong>
                  </p>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="hra_frequency">Frequency (choose one)</label>
                    <div class="col-sm-4">
                      <div class="btn-group" data-toggle="buttons">
                        <span [ngClass]="(selectedHraFrequency=='monthly')?'btn btn-outline-info active' :'btn btn-outline-info'">
                            <input type="radio" class="form-control form-control-sm" id="hra_frequency"
                            formControlName="hra_frequency" value="monthly" ngModel required (click)="onHraFrequencyChange('monthly')"/> Monthly
                        </span>
                        <span [ngClass]="(selectedHraFrequency=='annually')?'btn btn-outline-info active':'btn btn-outline-info'">
                            <input type="radio" class="form-control form-control-sm" id="hra_frequency"
                            formControlName="hra_frequency" value="annually" ngModel required (click)="onHraFrequencyChange('annually')"/> Total
                        </span>
                      </div>
                      <div *ngIf="hraForm.controls['hra_frequency'].invalid && (hraForm.controls['hra_frequency'].dirty || hraForm.controls['hra_frequency'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['hra_frequency'].errors.required">
                          Frequency is required.
                        </div>
                      </div>
                      <ng-template #popContentHraFrequency>
                        <div class="tooltip-italic">Choose <strong>Monthly Amount</strong> to enter the maximum amount the HRA would pay towards employee-only coverage per month. Choose <strong>Total Amount</strong> to enter the amount the HRA would pay towards employee-only coverage over the entire period between the start month and the end month.</div>
                      </ng-template>
                      <sup [ngbPopover]="popContentHraFrequency">
                        <i class="fas fa-question-circle"></i>
                      </sup>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="col-sm-3 col-form-label col-form-label-sm" for="hra_amount">Amount</label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" style="text-align: right" (keypress)="numberOnly($event)" mask="comma_separator" maxlength="11" [disabled]="hraForm.controls['household_frequency'].invalid" id="hra_amount" formControlName="hra_amount" ngModel required [attr.disabled]="(hraForm.controls['hra_frequency'].value =='') ? '' : null "/>
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                      <div *ngIf="hraForm.controls['hra_amount'].invalid && (hraForm.controls['hra_amount'].dirty || hraForm.controls['hra_amount'].touched)" class="alert alert-danger" [ngStyle]="{'background-color': dangerColorCode}">
                        <div *ngIf="hraForm.controls['hra_amount'].errors.required">
                          Amount is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div style="overflow:auto;">
                <div style="float:left;">
                  <button [ngStyle]="{'background-color': primaryColorCode}" type="button" class="btn btn btn-md button-style card-color" [hidden]="(currentTab === 1)" routerLink="/home"> <i class="fas fa-arrow-circle-left fa-lg"> </i> Previous</button>
                </div>
                <div style="float:left;">
                  <button [ngStyle]="{'background-color': primaryColorCode}" type="button" class="btn btn btn-md button-style card-color" [hidden]="(currentTab === 0)" (click)="showTab(currentTab-1)"><i class="fas fa-arrow-circle-left fa-lg"> </i> Previous</button>
                </div>
                <div style="float:right;">
                  <button [ngStyle]="{'background-color': primaryColorCode}" type="button" class="btn btn btn-md button-style card-color" [hidden]="(currentTab === 1)"
                  (click)="showTab(currentTab+1)">Next <i class="fas fa-arrow-circle-right fa-lg"> </i></button>
                  <button [ngStyle]="{'background-color': primaryColorCode}" type="submit" class="btn btn btn-md button-style card-color" [hidden]="(currentTab != 1)" >Next <i class="fas fa-arrow-circle-right fa-lg"> </i></button>
                </div>
              </div>
              <!-- Circles which indicates the steps of the form: -->
              <div style="text-align:center;margin-top:40px;">
                <span [ngClass]="currentTab === 0 ? 'step active' : 'step'"></span>
                <span [ngClass]="currentTab === 1 ? 'step active' : 'step'"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
