.main-content {
  margin-top: 80px;
  margin-bottom: 75px;
  p {
    font-size: 18px;
  }
  label,
  .faux-label {
    font-weight: 400;
    font-size: 16px;
    padding-left: 0;
  }
}

.step-desription {
  font-size: 26px;
}

.tooltip-italic {
  text-align: center;
  font-style: italic;
}

.state-align {
  margin-top: auto;
  margin-bottom: auto;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-danger-color {
  background-color: var(--danger-color);
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-color {
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #3498db;
}

sup {
  font-size: 15px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    width: 150px;
  }
}

.page-indicator {
  margin-top: 2rem;
  text-align: center;
}

.radio-wrapper > input[type='radio'] {
  opacity: 0;
  position: absolute;
  cursor: pointer;

  + label {
    padding: 4px 12px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    margin-right: 0.5rem;
    color: var(--text-color, #000);
  }

  + label:hover {
    color: var(--inverted-text-color, #000);
    background-color: var(--primary-color);

    @media screen and (-ms-high-contrast: active) {
      box-shadow: 0 0px 0px 4px red;
    }
  }

  &:checked + label {
    background-color: var(--primary-color);
    color: var(--inverted-text-color, #000);

    @media screen and (-ms-high-contrast: active) {
      background-color: WindowText;
    }
  }

  &:focus + label {
    box-shadow: 0 0px 0px 4px rgb(105, 105, 150);

    @media screen and (-ms-high-contrast: active) {
      box-shadow: 0 0px 0px 4px red;
    }
  }
}

pre {
  position: fixed;
  left: 5px;
  top: 50%;
}
