<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="container hra_results border">
                  <form [formGroup]="hraForm" (ngSubmit)="onSubmit()">
                      <div class="tab" [hidden]="!(currentTab === 0)">
                          <h1>About You</h1>
                          <hr/>
                          <div class="d-inline-flex">
                              <div>
                                  <img src="../../assets/images/profile_pic.png" />
                              </div>
                              <div class="col-md-9">
                                  <p>
                                      <strong>
                                          Enter the following information for the family member
                                          who is offered the HRA.
                                          <sup
                                          data-toggle="tooltip"
                                          title="This is the family member whose employer or former employer (if family member is a retiree) is offering the HRA."
                                          >
                                              <i class="fas fa-question-circle"></i>
                                          </sup>
                                      </strong>
                                  </p>
                              </div>
                          </div>
                          <div class="form-group">
                              <p>
                                  <strong>Place of Residence
                                      <sup data-toggle="tooltip" title="Enter the family member’s place of residence, even if the employer is located somewhere else."
                                      >
                                          <i class="fas fa-question-circle"></i>
                                      </sup>
                                  </strong>
                              </p>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="state">
                                      State
                                      <sup
                                      data-toggle="tooltip"
                                      title="If you are not a resident of this state, please visit [hyperlink] to find the Marketplace in your state."
                                      >
                                          <i class="fas fa-question-circle"></i>
                                      </sup>
                                  </label>
                                  <div class="col-sm-4">
                                      <select class="form-control form-control-sm" formControlName="state" id="state" ngModel required >
                                          <option value="Maryland">Maryland</option>
                                      </select>
                                      <div *ngIf="hraForm.controls['state'].invalid && (hraForm.controls['state'].dirty || hraForm.controls['state'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['state'].errors.required">
                                          State is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="zipcode">Zip Code</label>
                                  <div class="col-sm-4">
                                      <input type="number" class="form-control form-control-sm" formControlName="zipcode" id="zipcode" ngModel required />
                                      <div *ngIf="hraForm.controls['zipcode'].invalid && (hraForm.controls['zipcode'].dirty || hraForm.controls['zipcode'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['zipcode'].errors.required">
                                          Zipcode is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="country">County</label>
                                  <div class="col-sm-4">
                                      <select class="form-control form-control-sm" id="county" formControlName="county" ngModel rquired>
                                          <option value="Howard">Howard</option>
                                          <option value="Baltimore">Baltimore</option>
                                      </select>
                                      <div *ngIf="hraForm.controls['county'].invalid && (hraForm.controls['county'].dirty || hraForm.controls['county'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['county'].errors.required">
                                          County is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="dob">Date of Birth</label>
                                  <div class="col-sm-4">
                                      <input type="date" class="form-control form-control-sm" id="dob" formControlName="dob" ngModel required/>
                                      <div *ngIf="hraForm.controls['dob'].invalid && (hraForm.controls['dob'].dirty || hraForm.controls['dob'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['dob'].errors.required">
                                          Date of Birth is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <p>
                                  <strong>
                                      Expected 2020 Household Income
                                      <sup
                                      data-toggle="tooltip"
                                      title="This is your household income before taxes. For most people, yearly household income is the same as federal adjusted gross income that you enter on your federal income tax return (Form 1040).Specifically, household income is equal to adjusted gross income plus the following amounts: Social Security benefits excluded from gross income, interest from tax-exempt bonds, any foreign-source income excluded from gross income under section 911 of Internal Revenue Code (rare), and the income of dependents who are required to file a separate income tax return (rare)."
                                      >
                                          <i class="fas fa-question-circle"></i>
                                      </sup>
                                  </strong>
                              </p>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="household_frequency">Frequency</label>
                                  <div class="col-sm-4 row">
                                      <div class="col-6">
                                        <input type="radio" class="form-control form-control-sm" id="household_frequency" formControlName="household_frequency" value="monthly" ngModel required/>
                                        <button class="btn btn-outline-info">Monthly</button>
                                      </div>
                                      <div class="col-6">
                                          <input type="radio" class="form-control form-control-sm" id="household_frequency" formControlName="household_frequency" value="annually" ngModel required/>
                                          <button class="btn btn-outline-info">Annually</button>
                                      </div>
                                      <div *ngIf="hraForm.controls['household_frequency'].invalid && (hraForm.controls['household_frequency'].dirty || hraForm.controls['household_frequency'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['household_frequency'].errors.required">
                                          Frequency is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="household_amount">Amount</label>
                                  <div class="col-sm-4">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                      </div>
                                      <input type="number" class="form-control" id="household_amount" formControlName="household_amount" ngModel required/>
                                      <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                      </div>
                                    </div>
                                      <div *ngIf="hraForm.controls['household_amount'].invalid && (hraForm.controls['household_amount'].dirty || hraForm.controls['household_amount'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['household_amount'].errors.required">
                                          Amount is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="tab" [hidden]="!(currentTab === 1)">
                          <h1>About the HRA You've Been Offered</h1>
                          <hr/>
                          <div class="d-inline-flex">
                              <div>
                                  <img src="../../assets/images/profile_pic.png" />
                              </div>
                              <div class="col-md-9">
                                  <p>
                                      <strong>
                                          Enter the following information about the HRA that
                                          you have been offered.
                                      </strong>
                                          All answers can be found in the
                                          HRA notice provided by the employer.
                                  </p>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="col-sm-2 col-form-label col-form-label-sm" for="hra_type">Type of HRA</label>
                                  <div class="col-sm-6 row">
                                      <div class="col-6">
                                        <input type="radio" class="form-control form-control-sm" id="hra_type" formControlName="hra_type" value="ichra" ngModel required/>
                                        <button class="btn btn-outline-info">Individual Coverage HRA</button>
                                      </div>
                                      <div class="col-6">
                                          <input type="radio" class="form-control form-control-sm" id="hra_type" formControlName="hra_type" value="qsehra" ngModel required/>
                                          <button class="btn btn-outline-info">Qualified Small Employer HRA (QSEHRA)</button>
                                      </div>
                                      <div *ngIf="hraForm.controls['hra_type'].invalid && (hraForm.controls['hra_type'].dirty || hraForm.controls['hra_type'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['hra_type'].errors.required">
                                          Type of HRA is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="col-sm-2 col-form-label col-form-label-sm" for="start_month">
                                      Start Month
                                      <sup
                                      data-toggle="tooltip"
                                      title="This is the first month ofthe HRA plan year."
                                      >
                                          <i class="fas fa-question-circle"></i>
                                      </sup>
                                  </label>
                                  <div class="col-sm-4">
                                      <select class="form-control form-control-sm" id="start_month" formControlName="start_month" ngModel required>
                                          <option value="1">Januray 2019</option>
                                          <option value="2">February 2019</option>
                                          <option value="3">March 2019</option>
                                          <option value="4">April 2019</option>
                                          <option value="5">May 2019</option>
                                          <option value="6">June 2019</option>
                                          <option value="7">July 2019</option>
                                          <option value="8">August 2019</option>
                                          <option value="9">September 2019</option>
                                          <option value="10">October 2019</option>
                                          <option value="11">November 2019</option>
                                          <option value="12">December 2019</option>
                                      </select>
                                      <div *ngIf="hraForm.controls['start_month'].invalid && (hraForm.controls['start_month'].dirty || hraForm.controls['start_month'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['start_month'].errors.required">
                                          Start Month is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="col-sm-2 col-form-label col-form-label-sm" for="end_month">
                                      End Month
                                      <sup
                                      data-toggle="tooltip"
                                      title="This is the last month of the HRA plan year."
                                      >
                                          <i class="fas fa-question-circle"></i>
                                      </sup>
                                  </label>
                                  <div class="col-sm-4">
                                      <select class="form-control form-control-sm" id="end_month" formControlName="end_month" ngModel required>
                                          <option value="1">Januray 2019</option>
                                          <option value="2">February 2019</option>
                                          <option value="3">March 2019</option>
                                          <option value="4">April 2019</option>
                                          <option value="5">May 2019</option>
                                          <option value="6">June 2019</option>
                                          <option value="7">July 2019</option>
                                          <option value="8">August 2019</option>
                                          <option value="9">September 2019</option>
                                          <option value="10">October 2019</option>
                                          <option value="11">November 2019</option>
                                          <option value="12">December 2019</option>
                                          <option value="13">Januray 2020</option>
                                          <option value="14">February 2020</option>
                                          <option value="15">March 2020</option>
                                          <option value="16">April 2020</option>
                                          <option value="17">May 2020</option>
                                          <option value="18">June 2020</option>
                                          <option value="19">July 2020</option>
                                          <option value="20">August 2020</option>
                                          <option value="21">September 2020</option>
                                          <option value="22">October 2020</option>
                                          <option value="23">November 2020</option>
                                      </select>
                                      <div *ngIf="hraForm.controls['end_month'].invalid && (hraForm.controls['end_month'].dirty || hraForm.controls['end_month'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['end_month'].errors.required">
                                          End Month is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <p>
                                  <strong>
                                      Maximum HRA Amount for Employee-Only Health Insurance
                                      <sup
                                      data-toggle="tooltip"
                                      title="This is the amount the employer has offered to contribute to the HRA if you purchase health insurance for only the employee (not including other family members).Some employers offer to provide one amount if only the employee enrolls in coverage, and a larger amount if the employee plus other family members enroll in coverage.We need to know the amount of the HRA if only the employee enrolls."
                                      >
                                          <i class="fas fa-question-circle"></i>
                                      </sup>
                                  </strong>
                              </p>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="hra_frequency">Frequency</label>
                                  <div class="col-sm-4 row">
                                      <div class="col-6">
                                        <input type="radio" class="form-control form-control-sm" id="hra_frequency" formControlName="hra_frequency" value="monthly" ngModel required/>
                                        <button class="btn btn-outline-info">Monthly</button>
                                      </div>
                                      <div class="col-6">
                                        <input type="radio" class="form-control form-control-sm" id="hra_frequency" formControlName="hra_frequency" value="annually" ngModel required/>
                                        <button class="btn btn-outline-info">Annually</button>
                                      </div>
                                      <div *ngIf="hraForm.controls['hra_frequency'].invalid && (hraForm.controls['hra_frequency'].dirty || hraForm.controls['hra_frequency'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['hra_frequency'].errors.required">
                                          Frequency is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <label class="mx-5 col-sm-2 col-form-label col-form-label-sm" for="hra_amount">Amount</label>
                                  <div class="col-sm-4">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                      </div>
                                      <input type="number" class="form-control" id="hra_amount" formControlName="hra_amount" ngModel required/>
                                      <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                      </div>
                                    </div>
                                      <div *ngIf="hraForm.controls['hra_amount'].invalid && (hraForm.controls['hra_amount'].dirty || hraForm.controls['hra_amount'].touched)" class="alert alert-danger">
                                        <div *ngIf="hraForm.controls['hra_amount'].errors.required">
                                          Amount is required.
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div style="overflow:auto;">
                          <div style="float:left;">
                              <button type="button" class="btn btn-info" [hidden]="(currentTab === 0)" (click)="showTab(currentTab-1)"><- About You</button>
                          </div>
                          <div style="float:right;">
                              <button type="button" class="btn btn-info" [hidden]="(currentTab === 1)"
                              [disabled]="hraForm.controls['state'].invalid || hraForm.controls['zipcode'].invalid || hraForm.controls['county'].invalid || hraForm.controls['dob'].invalid || hraForm.controls['household_frequency'].invalid || hraForm.controls['household_amount'].invalid" 
                              (click)="showTab(currentTab+1)">About Your HRA -></button>
                              <button type="submit" class="btn btn-info" [hidden]="(currentTab != 1)" [disabled]="hraForm.pristine || hraForm.invalid">Your Results -></button>
                          </div>
                      </div>

                      <!-- Circles which indicates the steps of the form: -->
                      <div style="text-align:center;margin-top:40px;">
                          <span [ngClass]="currentTab === 0 ? 'step active' : 'step'"></span>
                          <span [ngClass]="currentTab === 1 ? 'step active' : 'step'"></span>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>