<div class="wrapper"> <!-- Added with Sidebar menu -->

  <!-- For Sidebar defininton see: https://bootstrapious.com/p/bootstrap-sidebar -->
  <!-- Sidebar -->

  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li><%= link_to "Enterprise", admin_enterprise_path(@enterprise) %></li>
      <li><h5>Marketplaces</h5></li>
      <%= render partial: "admin/shared/tenant", collection: @enterprise.tenants %>
    </ul>
  </nav>
</div>