<div class="wrapper"> <!-- Added with Sidebar menu -->

  <!-- For Sidebar defininton see: https://bootstrapious.com/p/bootstrap-sidebar -->
  <!-- Sidebar -->

  <nav id="sidebar">
    <ul class="list-unstyled components">
      <% if  policy(@enterprise).can_modify? %>
      <li <%= menu_tab_class(tab_name, 'enterprise') %>><%= link_to "Enterprise", admin_enterprise_path(@enterprise, tab_name: 'enterprise') %></li>
      <li><div class='ml-2'><h5>Marketplaces</h5></div></li>
      <% end %>
      <%= render partial: "admin/shared/tenant", collection: @enterprise.tenants, locals: {tab_name: tab_name} %>
    </ul>
  </nav>
</div>