<div class="wrapper"> <!-- Added with Sidebar menu -->

  <!-- For Sidebar defininton see: https://bootstrapious.com/p/bootstrap-sidebar -->
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li> <a href="#">Enterprise</a> </li>

      <li><h5>Marketplaces</h5></li>

      <li>
        <a href="#dcSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DC HealthLink</a>
        <ul class="collapse list-unstyled" id="dcSubmenu">
          <li><a class="nav-link" href="#">Profile</a></li>
          <li><a class="nav-link" href="#">Features</a></li>
          <li><a class="nav-link" href="#">Health Plans</a></li>
          <li>
            <a href="#dcUiSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tool UI Pages</a>
            <ul class="collapse list-unstyled" id="dcUiSubmenu">
              <li><a class="nav-link" href="#">HRA Affordability Tool</a></li>
              <li><a class="nav-link" href="#">About You</a></li>
              <li><a class="nav-link" href="#">About the HRA You've Been Offered</a></li>
              <li><a class="nav-link" href="#">QSEHRA Not Affordable Results Page</a></li>
              <li><a class="nav-link" href="#">QSEHRA Affordable Results Page</a></li>
              <li><a class="nav-link" href="#">ICHRA Not Affordable Results Page</a></li>
              <li><a class="nav-link" href="#">ICHRA Affordable Results Page</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="#maSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">MA Health Connector</a>
        <ul class="collapse list-unstyled" id="maSubmenu">
          <li><a class="nav-link" href="#">Profile</a></li>
          <li><a class="nav-link" href="#">Features</a></li>
          <li><a class="nav-link" href="#">Health Plans</a></li>
          <li>
            <a href="#maUiSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tool UI Pages</a>
            <ul class="collapse list-unstyled" id="maUiSubmenu">
              <li><a class="nav-link" href="#">HRA Affordability Tool</a></li>
              <li><a class="nav-link" href="#">About You</a></li>
              <li><a class="nav-link" href="#">About the HRA You've Been Offered</a></li>
              <li><a class="nav-link" href="#">QSEHRA Not Affordable Results Page</a></li>
              <li><a class="nav-link" href="#">QSEHRA Affordable Results Page</a></li>
              <li><a class="nav-link" href="#">ICHRA Not Affordable Results Page</a></li>
              <li><a class="nav-link" href="#">ICHRA Affordable Results Page</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>